#gallery {
	margin: 20px 0;
}

.aui-image-viewer {
  height: auto;
  width: auto;
}

.aui-image-viewer-bd, .aui-image-viewer-image {
  height: auto;
  width: auto;
}

.gallery, .picture {
  margin: 10px;
}

.picture {
  border: 5px solid #222;
  height: 200px;
  width: 200px;
}